opencv-python-headless
grad-cam==1.3.1
importlib-resources==5.2.2
numpy
pandas==1.1.5
pandocfilters==1.4.2
seaborn==0.11.2
streamlit==0.88.0
tqdm
traitlets==4.3.3
ttach==0.0.3
tzlocal==3.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cpu
torchvision==0.10.0+cpu 
torchaudio==0.9.0

